{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta data -->
        <meta charset="UTF-8">
        <title>[Eventname] | Eventix Summary</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'demo/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'demo/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'demo/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'demo/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'demo/favicon/safari-pinned-tab.svg' %}" color="#bde3fc">
        <meta name="msapplication-TileColor" content="#bde3fc">
        <meta name="theme-color" content="#bde3fc">

        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    </head>
    <body>
        {% block content %}{% endblock %}

        <img class="logo" src="{% static 'demo/img/logo.svg' %}" alt="">

    </body>

    <script src="{% static 'js/main.js' %}"></script>
</html>