<!DOCTYPE html>
<html lang="en">
<h1>Total Revenue Event 1:</h1>
<p>{{ total_revenue1 }}</p>

<h1>Total Revenue Event 2:</h1>
<p>{{ total_revenue2 }}</p>

<h1>Average Ticket Price Event 1:</h1>
<p>{{ average_ticket_price1 }}</p>

<h1>Average Ticket Price Event 2:</h1>
<p>{{ average_ticket_price2 }}</p>

<h1>Gender Event 1:</h1>
<p>{{ gender_event1_male }}% Male</p>
<p>{{ gender_event1_female }}% Female</p>

<h1>Gender Event 2:</h1>
<p>{{ gender_event2_male }}% Male</p>
<p>{{ gender_event2_female }}% Female</p>

<h1>Age Event 1:</h1>
<p>{{ average_age_event1 }}</p>

<h1>Age Event 2:</h1>
<p>{{average_age_event2 }}</p>

<h1>Show Up Percentage Event 1</h1>
<p>{{ showup_percentage_event1 }}%</p>

<h1>Show Up Percentage Event 2</h1>
<p>{{ showup_percentage_event2 }}%</p>

<h1>Most popular city Event 1</h1>
<p>{{ most_popular_city_event1 }}</p>

<h1>Most popular city Event 2</h1>
<p>{{ most_popular_city_event2 }}</p>

<h1>Total visitors Event1</h1>
<p>{{ total_visitors_event1 }}</p>

<h1>Total visitors Event2</h1>
<p>{{ total_visitors_event2 }}</p>

<h1>Total events/year Event1</h1>
<p>{{ events_per_year1 }}</p>

<h1>Total events/year Event2</h1>
<p>{{ events_per_year2 }}</p>

<h1>Day most tickets sold Event</h1>
<p>{{ day_most_tickets_sold }}</p>

<h1>Most popular country Event1</h1>
<p>{{ most_popular_country_event1 }}</p>

<h1>Most popular country Event2</h1>
<p>{{ most_popular_country_event2 }}</p>

<h1>Most ticket sales Event</h1>
<p>{{ most_ticket_sales_event }}</p>
</html>