<div class="slide">
    <div class="title">
        <span class="grotesk--medium">Your event</span>
        <span class="grotesk--black" style="font-size: 3.9rem;">Wish Outdoor</span>
        <span class="grotesk--light">sold an total of</span>
    </div>

    <div class="lines">
        <div class="line">
            <div class="title"><span class="grotesk--black">{{ event.totalRevenue }}</span></div>
        </div>
        <div class="line">
            <div class="title"><span class="grotesk--black">12.029</span></div>
        </div>
        <div class="line">
            <div class="title"><span class="grotesk--black">12.029</span></div>
        </div>
        <div class="line">
            <div class="title"><span class="grotesk--black">12.029</span></div>
        </div>
        <div class="line">
            <div class="title"><span class="grotesk--black">12.029</span></div>
        </div>
    </div>

    <div class="title">
        <span class="grotesk--medium">Tickets</span>
    </div>
</div>