<div class="slide">
    <div class="title" style="display: flex; flex-direction: column; font-size: 3.2rem; align-items: center;">
        <span class="grotesk--medium" style="padding: 0;">Your event</span>
        <span class="grotesk--black" style="font-size: 3.9rem; padding: 0;">Wish Outdoor</span>
        <span class="grotesk--light" style="padding: 0;">sold an total of</span>
    </div>

    <div class="lines">
        <div class="line">
            <div class="title"><span class="grotesk--black">12.029</span></div>
        </div>
        <div class="line">
            <div class="title"><span class="grotesk--black">12.029</span></div>
        </div>
        <div class="line">
            <div class="title"><span class="grotesk--black">12.029</span></div>
        </div>
        <div class="line">
            <div class="title"><span class="grotesk--black">12.029</span></div>
        </div>
        <div class="line">
            <div class="title"><span class="grotesk--black">12.029</span></div>
        </div>
    </div>

    <div class="title" style="font-size: 3.2rem; justify-content: center; display: flex;">
        <span class="grotesk--medium">Tickets</span>
    </div>
</div>