{% load static %}

<div class="slide slide--col">
    <div class="white-back white-back--organised"></div>

    <div class="title title">
        <span class="grotesk--black">You</span>
        <span class="grotesk--medium">organised</span>
        <span class="grotesk--light">a total</span>
        <span class="grotesk--medium">of</span>
    </div>

    <img id="eventsHeldNumber" src="{% static 'demo/img/numbers/four.svg' %}" alt="">

    <div class="title title">
        <span class="grotesk--medium full" style="margin-bottom: 0;">Events this</span>
        <span class="grotesk--black">year</span>
    </div>
</div>