{% load static %}

<div class="slide">
    <div class="white-back white-back--prov"></div>

    <img class="netherlands" src="{% static 'demo/img/netherlands.png' %}" alt="">

    <div style="margin-top: 17rem;">
        <span class="highlight grotesk--black">{{context.1}}%</span>
        <p class="title"><span class="grotesk--dark">of your</span> <span class="grotesk--light">visitors</span> <span class="grotesk--black">were from</span> <span class="grotesk--fine">{{context.2}}</span></p>
    </div>
</div>