{% load static %}

<div class="slide" id="ticket-sale-percentage">
    <div class="white-back white-back--event"></div>

    <div class="title">
        <span class="grotesk--black" style="font-size: 4rem;">{{ event.name }}</span>
    </div>
    <div style="display:none;" id="ticketPercentageCountUpValue">
        {{ event.ticketSalePercentage }}
    </div>
    <div class="title title--col" style="margin-top: 10rem;">
        <p><span class="grotesk--black">This</span> <span class="grotesk--medium">event</span> <span class="grotesk--medium">sold</span></p>
        <span class="highlight grotesk--black"><span id="ticketPercentageCountUp" style="padding-right: 0;"></span> %</span>
        <p><span class="grotesk--light">of it's tickets</span></p>
    </div>

    <img id="ticketStack" src="{% static 'demo/img/tickets-stack.png' %}" alt="">
</div>