<div class="slide">
    <div class="white-back white-back--event"></div>

    <div style="text-align: center; display: flex; align-items: center; flex-direction: column;">
        <span class="grotesk--black" style="font-size: 4rem;">{{context.3}}</span>
    </div>

    <div style="margin-top: 10rem; text-align: center; display: flex; align-items: center; flex-direction: column;">
        <p class="title"><span class="grotesk--dark">This</span> <span class="grotesk--medium">event</span> <span class="grotesk--dark">sold</span></p>
        <span class="highlight grotesk--black">{{context.4}}%</span>
        <p class="title"><span class="grotesk--dark">of it’s tickets</span></p>
    </div>

    <img class="tickets tickets--stack" src="{{ static }}demo/img/tickets-stack.png" alt="">
</div>