{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta data -->
        <meta charset="UTF-8">
        <title>MEADOW | Visitors Infomation | Eventix Summary</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'demo/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'demo/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'demo/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'demo/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'demo/favicon/safari-pinned-tab.svg' %}" color="#bde3fc">
        <meta name="msapplication-TileColor" content="#bde3fc">
        <meta name="theme-color" content="#bde3fc">

        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/xrDemo.css' %}">
    </head>
    <body>
        <div id="app">
            <svg class="coin" viewBox="0 0 51.96 59.56"><path d="m6.45,10.15S7.37.5,15.18.5c12.62,3.12,18,5.31,25.49,7.12s10.79,7.58,10.79,14.01v26.41c0,3.23-4.13,7.81-11.25,7.81s-25.03-8.04-25.03-8.04c0,0-8.73-5.97-8.73-12.63V10.15Z" fill="#f89823" stroke="#231f20" stroke-miterlimit="10"/><path d="m.5,13.36S1.42,3.71,9.23,3.71c12.62,3.12,18,5.31,25.49,7.12s10.79,7.58,10.79,14.01v26.41c0,3.23-4.13,7.81-11.25,7.81s-25.03-8.04-25.03-8.04c0,0-8.73-5.97-8.73-12.63V13.36Z" fill="#f89823" stroke="#231f20" stroke-miterlimit="10"/></svg>

            <p class="infoVI" >
                <span class="grotesk--spatialFine" >Your</span>
                <span class="grotesk--tightMedium">visitors</span>
                <span class="grotesk--tallFine">come</span>
                <span class="grotesk--tallFine">from</span>
                <span class="grotesk--narrowLight" >all over the world</span>
        
                </br>
                <!-- <span class="grotesk--wideBlack infoPS--month">February</span>
                <span class="grotesk--spatialBlack infoPS--year">2023 2023 2023</span>
                <span class="grotesk--spatialBlack infoPS--year2">2023 2023 2023</span>
                <span class="grotesk--spatialBlack infoPS--year3">2023 2023 2023</span>
                 -->
            </p>

            <p class="infoLocations">
                <span class="grotesk--spatialBlack" >60 cities</span>
                </br>
                <span class="grotesk--spatialBlack" >33 provinces</span>
                </br>
                <span class="grotesk--spatialBlack" >10 countries</span>
            </p>

            <div class="slide__earth" >
                <img src="{% static 'demo/img/xinru/earth.svg' %}" alt="earth">
            </div>

            <div class="slide__backgroundVisitorsInfo"></div>
            <div class="slide__backfigureVisitorsInfo"></div>

            <!-- <div class="scollInfo">
                <p class="scollInfo--scollPath">Your visitors are serious doers, they love it! </p>
            
                
            </div> -->
            
            

        </div>

        <script src="{% static 'js/xrDemo.js' %}"></script>
    </body>


</html>