{% extends "dashboard/dashboard-base.html" %}

{% load static %}

{% block content %}
    <h1 class="h1">{{ Name }}</h1>

    <div class="events">
        <p>This event-organiser held a total of 3 events:</p>

        <div class="events__wrapper">
            <span class="events__item">Blue lagoon festival</span>
            <span class="events__item">Wish Outdoor</span>
            <span class="events__item">Outdoor fissa XL!</span>
        </div>
    </div>

    <h2 class="h2">Summary screens</h2>

    <form action="/savewrap">
        <div class="screens">
            {% if Cards %}
                {% for card in Cards%}
                    <div class="screen">
                        <img class="screen__preview" src="{% static card.imagePreview %}" alt="" />

                        <div class="screen__info">
                            <h3 class="h3"> {{card.Name}} </h3>
                            <p>{{card.Text}}</p>
                            <div  {%if card.Name == "Start Animation"%} style="pointer-events: none;" {%endif%} class="lightswitch__wrapper">
                                <span>Don't show</span>
                                <label class="lightswitch">                        
                                <input class="lightswitch__input" id="bruh" name="cards" value="{{card.id}}" {%if card.Toggled or 'Start Animation' in card.Name or 'End Overview' in card.Name%} checked {%endif%} type="checkbox">
                                    <div class="lightswitch__back"></div>
                                    <span class="lightswitch__slider"></span>
                                </label>
                                <input type="hidden" name="owner" value={{Guid}}></input>
                                <span>Show in summary</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            
            <button class="btn" type="submit">{%if Overwrite%}Overwrite{%else%} Save{%endif%}</button>
        </div>
    </form>
{% endblock %}