{% extends "dashboard/dashboard-base.html" %}

{% load static %}

{% block content %}
    <h1 class="h1">{{ Organizer }}</h1>

    <div class="event-ready">
        <p>Your event is ready. You can find your event <a href="#">here</a>.</p>
    </div>

    <div class="event-head">
        <div class="event-head__events">
            <div class="events">
                <p>This event-organiser held a total of {{Events|length}} events:</p>
                <div class="events__wrapper">
                    {% for event in Events %}
                    <span class="events__item">{{event}}</span>
                    {%endfor%}
                </div>
            </div>
        </div>

        <div class="event-head__qr">
            <img src="data:image/png;base64, {{ qr_code }}" alt="QR code" />
        </div>
    </div>

    <h2 class="h2">Summary screens</h2>

    <form action="/savewrap">
        <div class="screens">
            {% if Cards %}
                {% for card in Cards%}
                    <div class="screen">
                        <img class="screen__preview" src="{% static card.imagePreview %}" alt="" />
                        <div class="screen__info">
                            <h3 class="h3"> {{card.Name}} </h3>
                            <p>{{card.Text}}</p>
                            
                            <div  {%if card.Name == "Start Animation" or card.Name == "End Overview"%} style="pointer-events: none;" {%endif%} class="lightswitch__wrapper">
                                <span>Don't show</span>
                                <label class="lightswitch">                        
                                <input class="lightswitch__input" id="bruh" name="cards" value="{{card.id}}" {%if card.Toggled or 'Start Animation' in card.Name or 'End Overview' in card.Name%} checked {%endif%} type="checkbox">
                                    <div class="lightswitch__back"></div>
                                    <span class="lightswitch__slider"></span>
                                </label>
                                <input type="hidden" name="owner" value={{Guid}}></input>
                                {% comment %} <input type="hidden" name="context" value={{value}}></input> {% endcomment %}
                                    <span class="temp-span" data-id="{{card.Context}}"></span>
                                <span>Show in summary</span>
                                <h3 class="h3">{{card.Context}}</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            
            <button class="btn" type="submit">{%if Overwrite%}Overwrite{%else%} Save{%endif%}</button>
        </div>
    </form>

    <script>
        var inputs = document.getElementsByClassName("lightswitch__input");
        for (let i = 0; i < inputs.length; i++) {
            const id = inputs[i].parentElement.parentElement.getElementsByClassName("temp-span")[0].dataset.id;

            if (inputs[i].checked) {
                var newField = document.createElement('input');
                newField.setAttribute('type','hidden');
                newField.setAttribute('value', id);
                newField.setAttribute('class', "delete");
                newField.setAttribute('name', "context");
                inputs[i].parentElement.parentElement.getElementsByClassName("temp-span")[0].parentElement.appendChild(newField);
            }

            inputs[i].addEventListener("input", (e) => {
                var deleteElements = inputs[i].parentElement.parentElement.getElementsByClassName("temp-span")[0].parentElement.parentElement.getElementsByClassName("delete");

                for (let index = 0; index < deleteElements.length; index++) deleteElements[index].remove();

                if (e.target.checked === true) {
                    var newField = document.createElement('input');
                    newField.setAttribute('type','hidden');
                    newField.setAttribute('value', id);
                    newField.setAttribute('class', "delete");
                    newField.setAttribute('name', "context");
                    inputs[i].parentElement.parentElement.getElementsByClassName("temp-span")[0].parentElement.appendChild(newField);
                }
            });
        }
    </script>
{% endblock %}