{% extends "dashboard/dashboard-base.html" %}

{% block content %}
    <h1 class="h1">Event summaries overview</h1>

    <div class="searchbar">
        <input class="searchbar__input" type="text" placeholder="Search for an event by title...">
        <svg class="searchbar__icon" viewBox="0 0 35.997 36.004"> <path id="Icon_awesome-search" data-name="Icon awesome-search" d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"/></svg>
    </div>

    <div class="events">
        {% if events %}
            {% for event in events %}
                <a href="/event/{{event.Guid}}/{{event.Event}}" {%if event.Wrapped %} style="background-color: #deffdf;" {%endif%} class="event">
                    <h2 class="h2">{{event.Event}}</h2>
                    <span class="event__amount"></span>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}