@font-face {
  font-weight: 800;
  font-family: "Right Grotesk";
  src: url("../font/right-grotesk/PPRightGrotesk-WideBlack.otf") format("opentype");
}
@font-face {
  font-weight: 700;
  font-family: "Right Grotesk";
  src: url("../font/right-grotesk/PPRightGrotesk-CompactDark.otf") format("opentype");
}
@font-face {
  font-weight: 200;
  font-family: "Right Grotesk";
  src: url("../font/right-grotesk/PPRightGrotesk-NarrowLight.otf") format("opentype");
}
@font-face {
  font-weight: 300;
  font-family: "Right Grotesk";
  src: url("../font/right-grotesk/PPRightGrotesk-SpatialFine.otf") format("opentype");
}
@font-face {
  font-weight: 400;
  font-family: "Right Grotesk";
  src: url("../font/right-grotesk/PPRightGrotesk-Medium.otf") format("opentype");
}
@font-face {
  font-weight: 300;
  font-family: "Suisse";
  src: url("../font/suisse/SuisseIntl-Regular.ttf") format("opentype");
}
@font-face {
  font-weight: 400;
  font-family: "Suisse";
  src: url("../font/suisse/SuisseIntl-Medium.ttf") format("opentype");
}
h1, .h1, h2, .h2, h3, .h3 {
  font-family: "Right Grotesk";
}

h1, .h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

h2, .h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

.grotesk--black {
  font-weight: 800;
}
.grotesk--dark {
  font-weight: 700;
}
.grotesk--light {
  font-weight: 200;
}
.grotesk--fine {
  font-weight: 300;
}
.grotesk--medium {
  font-weight: 400;
}

.title {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.3;
  font-size: 3.8rem;
  position: relative;
  text-align: center;
  margin-right: -1rem;
  align-items: baseline;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  font-family: "Right Grotesk", sans-serif;
}
.title--hide {
  opacity: 0;
}
.title--no-flex {
  display: inherit;
}
.title--col {
  align-items: center;
  flex-direction: column;
}
.title--left {
  justify-content: flex-start;
}
.title--strip {
  padding: 0 !important;
}
.title span {
  padding-right: 1rem;
}
.title span.full {
  width: 100%;
  margin-bottom: -0.75rem;
}
.title span.left {
  text-align: left;
}
.title span.highlight {
  font-size: 6rem;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  min-height: 100vh;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  font-family: "Suisse", sans-serif;
  background-color: #BDE3FC;
  transition: background-color 0.75s ease-in-out;
}

#app {
  width: 36rem;
  height: 76rem;
  overflow: hidden;
  position: relative;
  border: solid 2px #ffffff;
}

.box {
  width: 100%;
  min-height: 100%;
  border-radius: 1rem;
  padding: 4rem 6rem;
  background-color: #ffffff;
}

.divider {
  border: none;
  margin: 2.5rem 0;
  border-top: solid 1px #666666;
}

@keyframes clickableLever {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes activeLever {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}
@keyframes search {
  0% {
    translate: 0rem 0;
  }
  25% {
    translate: -1rem 0.5rem;
  }
  75% {
    translate: 1rem -0.5rem;
  }
  100% {
    translate: 0rem 0;
  }
}
@keyframes lineSlide {
  0% {
    left: 3rem;
  }
  45% {
    left: 18rem;
  }
  50% {
    left: 18rem;
  }
  95% {
    left: 3rem;
  }
}
@keyframes hover {
  0% {
    translate: 0rem 1rem;
  }
  50% {
    translate: -0.25rem 0rem;
  }
  100% {
    translate: 0rem 1rem;
  }
}
@keyframes rotateStar {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes numberShake {
  0% {
    rotate: -4deg;
  }
  25% {
    rotate: -10deg;
  }
  75% {
    rotate: 2deg;
  }
  100% {
    rotate: -4deg;
  }
}
@keyframes dutch {
  0% {
    right: -24rem;
  }
  100% {
    right: -1rem;
  }
}
.slide {
  height: 76rem;
  min-width: 36rem;
  overflow: hidden;
  position: relative;
  transition: margin-left 2s ease-in-out;
}
.slide--col {
  display: flex;
  flex-direction: column;
}
.slide:not(:first-child) {
  padding: 3rem;
  position: relative;
  padding-top: 10.5rem;
}
.slide__wrapper {
  display: flex;
}
.slide__backfigure {
  left: 50%;
  z-index: 2;
  width: 40rem;
  rotate: -6deg;
  bottom: -20rem;
  height: 14.5rem;
  position: absolute;
  translate: -50% 0%;
  background-color: #2C68F6;
  transition: background-color 0.75s ease-in-out, bottom 2.65s ease-in-out;
}
.slide__backfigure--visible {
  bottom: -2.5rem;
}

.white-back {
  z-index: 0;
  top: 46rem;
  left: -3.5rem;
  width: 45rem;
  height: 100rem;
  rotate: -6deg;
  position: absolute;
  background-color: #ffffff;
}
.white-back--prov {
  top: -26rem;
  height: 42rem;
}
.white-back--event {
  top: 21.5rem;
  height: 26rem;
}
.white-back--ticket {
  top: -11rem;
  height: 42rem;
}
.white-back--logo-only, .white-back--organised {
  top: initial;
  bottom: 84.5%;
  left: -6rem;
}
.white-back--organised {
  bottom: 55%;
}
.white-back--end {
  top: -61rem;
  left: -6rem;
}

.coin {
  z-index: 3;
  top: 40rem;
  display: none;
  left: 15.5rem;
  height: 5.25rem;
  position: absolute;
  transition: left 2s ease-in-out, top 2s ease-in-out;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.2));
}

.btn {
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 2.4rem;
  color: #ffffff;
  padding: 1.5rem 4rem;
  border-radius: 2.5rem;
  background-color: #2C68F6;
  transition: translate 0.3s ease-in-out;
  font-family: "Right Grotesk", sans-serif;
}

.dashboard__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #ffffff;
}
.dashboard__content {
  flex: 1;
  margin-left: 28rem;
}

.nav {
  top: 0;
  width: 28rem;
  height: 100%;
  position: fixed;
  padding: 4rem 3rem;
  color: #ffffff;
  background-color: #2C68F6;
}
.nav__logo {
  display: block;
  padding: 4rem 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
.nav__logo svg {
  width: 14rem;
  display: block;
  margin: 0 auto;
}
.nav__list {
  margin-top: 4rem;
  font-size: 1.8rem;
}
.nav__list svg {
  width: 2.2rem;
  display: block;
  fill: #ffffff;
  margin-right: 1.25rem;
}
.nav__list-item a {
  display: flex;
  align-items: center;
}
.nav__list-item a span {
  margin-top: 0.25rem;
}
.nav__list-item:not(:last-child) {
  margin-bottom: 2.5rem;
}

.searchbar {
  position: relative;
}
.searchbar__input {
  width: 100%;
  border: none;
  outline: none;
  color: #666666;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1.5rem 5.8rem 1.5rem;
  background-color: #f2f2f2;
}
.searchbar__icon {
  top: 50%;
  cursor: text;
  left: 2.5rem;
  height: 1.8rem;
  fill: #666666;
  translate: 0 -50%;
  position: absolute;
  pointer-events: none;
}

.lightswitch {
  display: flex;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
}
.lightswitch__back {
  width: 5rem;
  height: 2.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}
.lightswitch__slider {
  left: 0.5rem;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  translate: 0 -50%;
  pointer-events: none;
  background-color: #2C68F6;
  transition: background-color 0.3s ease-in-out, left 0.3s ease-in-out;
}
.lightswitch__input {
  opacity: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.lightswitch__input:checked ~ .lightswitch__slider {
  left: 2.8rem;
  background-color: #ffffff;
}
.lightswitch__input:checked ~ .lightswitch__back {
  background-color: #2C68F6;
}
.lightswitch__wrapper {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
.lightswitch__wrapper span {
  font-size: 1.4rem;
}

#begin-slide .title {
  padding: 4rem 3rem 3rem;
  line-height: 1.3;
  padding-top: 12rem;
}

.begin-illustration {
  position: relative;
  margin-left: 6.5rem;
  transition: margin-top 0.6s ease-in, margin-left 1.2s ease-in-out;
}
.begin-illustration--flex {
  width: 88rem;
  display: flex;
  margin-top: 4rem;
  margin-left: 5rem;
  margin-bottom: -29.1rem;
  flex-direction: row-reverse;
}
.begin-illustration--start {
  margin-top: -13rem;
  margin-left: -50rem;
}

#plug {
  z-index: 1;
  height: 28rem;
  transition: translate 0.5s ease-in-out;
}
#plug .plug-stick {
  transition: opacity 0.5s ease-out;
}
#plug.active {
  translate: 0 94px;
}
#plug.active .plug-stick {
  opacity: 0;
}

#socket {
  z-index: 0;
  height: 8rem;
}

#machine {
  width: 26rem;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  margin-top: 8rem;
  position: relative;
  margin-left: -1.5rem;
}
#machine .title {
  top: 13.25rem;
  z-index: 100;
  translate: -50% 0;
  line-height: 1.05;
  text-align: center;
  position: absolute;
  left: calc(50% + 0.5rem);
}

#coin-machine {
  margin-top: 2.5rem;
  translate: 0.5rem 0;
}

#coin-machine-front {
  top: 4rem;
  left: 1.7rem;
  width: 22rem;
  z-index: 97;
  position: absolute;
  translate: 0.5rem 0;
}

#handle-holder {
  top: 50%;
  z-index: 2;
  right: -0.7rem;
  height: 5.5rem;
  position: absolute;
  translate: 0 -1rem;
}

.lever {
  top: 50%;
  right: 0;
  z-index: 1;
  height: 10rem;
  position: absolute;
  translate: 45% -9rem;
  transform-origin: center bottom;
  animation-delay: 3s;
  animation: clickableLever 2s 0.5s infinite;
}
.lever--active {
  animation: activeLever 1.25s forwards;
}

.line {
  height: 5.2rem;
  position: relative;
}
.lines {
  margin: 2rem -3rem;
}
.line:nth-child(1) {
  background-color: #9B68F6;
}
.line:nth-child(1) .title {
  animation-delay: 0.3s;
}
.line:nth-child(2) {
  background-color: #F0933C;
}
.line:nth-child(2) .title {
  animation-delay: 0.6s;
}
.line:nth-child(3) {
  background-color: #F6F650;
}
.line:nth-child(3) .title {
  animation-delay: 0.9s;
}
.line:nth-child(4) {
  background-color: #6CE449;
}
.line:nth-child(4) .title {
  animation-delay: 1.2s;
}
.line:nth-child(5) {
  background-color: #EE7CB7;
}
.line:nth-child(5) .title {
  animation-delay: 1.5s;
}
.line .title {
  left: 3rem;
  color: #ffffff;
  position: absolute;
  animation: lineSlide 7.5s infinite;
  transition: left 0.3s ease-out;
}

.statement {
  max-width: 90%;
  line-height: 1.5;
  position: relative;
  background-color: #ffffff;
  padding: 2rem 4.5rem 2rem 3rem;
}
.statement--error {
  color: #FF006E;
}
.statement--check {
  color: #ffffff;
  background-color: #39d53d;
}
.statement--check .statement__input + .statement__radio {
  background-color: #39d53d !important;
}
.statement--check .statement__input + .statement__radio .statement__check {
  display: block;
}
.statements {
  z-index: 1;
  margin-top: 4rem;
  margin-left: -3rem;
  position: relative;
}
.statement__input {
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 3;
  right: -2rem;
  cursor: pointer;
  position: absolute;
}
.statement__input:checked + .statement__radio {
  background-color: #2C68F6;
}
.statement__input:checked + .statement__radio .statement__check {
  display: block;
}
.statement__radio {
  top: 50%;
  right: 0;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  border-radius: 50%;
  position: absolute;
  translate: 50% -50%;
  align-items: center;
  justify-content: center;
  border: solid 0.4rem #ffffff;
  background-color: #BDE3FC;
}
.statement__check {
  width: 2rem;
  display: none;
  height: 1.4rem;
  fill: #ffffff;
}
.statement__submit {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
}
.statement:not(:last-child) {
  margin-bottom: 1.5rem;
}

.search-glass {
  left: 50%;
  z-index: -1;
  width: 20rem;
  bottom: -20rem;
  position: absolute;
  transform: translateX(-50%);
  animation: search 4s infinite;
  transition: bottom 1s 0.25s ease-in-out, translate 0.3s ease-in-out;
}

.correction-box {
  top: 24rem;
  left: 110%;
  padding: 6rem 3rem;
  rotate: -6deg;
  width: 36rem;
  height: 40rem;
  z-index: 0;
  position: absolute;
  transition: left 1s ease-in;
  background-color: #ffffff;
}
.correction-box--active {
  left: 40%;
}
.correction-box p {
  max-width: 16rem;
  line-height: 1.6;
  font-size: 1.4rem;
  font-weight: 300;
}
.correction-box .btn {
  margin-top: 3rem;
  display: inline-block;
  text-decoration: none;
}

.celebrate {
  left: -18rem;
  height: 17rem;
}

.wrong-illustration {
  left: -18rem;
  height: 17rem;
}

.celebrate, .wrong-illustration {
  position: absolute;
  transition: left 1s ease-in;
}
.celebrate--active, .wrong-illustration--active {
  left: -5.5rem;
}

#countryIllustration {
  top: 10rem;
  right: -12.5%;
  height: 26rem;
  position: absolute;
}

#events-organised-illustration {
  margin: 5rem 0;
  height: 17.5rem;
  margin-left: -12.5%;
  animation: hover 5s infinite;
}

#average-age-title {
  padding: 2rem;
  margin: 5rem -3rem;
  background-color: #ffffff;
}
#average-age-title span {
  font-size: 4.6rem;
}

.visitor-card {
  left: 50%;
  z-index: 1;
  bottom: -10rem;
  width: 13.5rem;
  translate: -50% 0;
  position: absolute;
  transition: bottom 1s ease-in;
}
.visitor-card--ghost {
  z-index: 0;
  width: 11rem;
  opacity: 0.5;
  bottom: -6rem;
}
.visitor-cards--show .visitor-card {
  bottom: 8rem;
}
.visitor-cards--show .visitor-card--ghost:first-of-type {
  left: 27.5%;
  bottom: 6rem;
}
.visitor-cards--show .visitor-card--ghost:last-of-type {
  left: 70%;
  bottom: 7rem;
}

.calander {
  width: 18rem;
  z-index: 2;
  position: relative;
  transform: scale(5.5);
  transform-origin: center 80%;
  animation: hover 5s infinite;
  transition: transform 1s ease-in;
}
.calander--normal {
  transform: scale(1);
}
.calander__wrapper {
  display: flex;
  margin-top: 6.5rem;
  position: relative;
  justify-content: center;
}
.calander__ghost {
  top: 50%;
  z-index: 1;
  width: 10rem;
  opacity: 0.5;
  translate: 0 -50%;
  position: absolute;
}
.calander__ghost:first-of-type {
  left: -5rem;
  translate: 0 -30%;
}
.calander__ghost:last-of-type {
  right: -5rem;
}

.date {
  top: 61%;
  left: 54%;
  z-index: 3;
  opacity: 0;
  rotate: -6deg;
  position: absolute;
  transform: translate(calc(-50% + 0.75rem), -50%);
  transition: opacity 1s ease-in-out;
  animation: hover 5s infinite;
}
.date--show {
  opacity: 1;
}
.date span:first-child {
  font-size: 5rem;
  margin-bottom: -1.5rem;
}

#end-overview {
  padding-top: 3rem;
}
#end-overview .slide__backfigure {
  top: -6.5rem;
  bottom: initial;
  position: relative;
  padding: 3rem 3rem 2.5rem 4.75rem;
}
#end-overview .slide__backfigure .title {
  height: 100%;
  text-align: left;
  max-width: 19rem;
  align-items: flex-end;
  word-break: break-word;
  justify-content: flex-start;
}
#end-overview .slide__backfigure span {
  padding-right: 0;
  font-size: 3.2rem;
  color: #ffffff;
}
#end-overview #end-overview-machine {
  top: 3rem;
  right: 3rem;
  width: 9.5rem;
  z-index: 2;
  position: absolute;
}
#end-overview #end-slide-star {
  left: 50%;
  top: 16rem;
  z-index: 3;
  width: 19rem;
  translate: -50% 0;
  position: absolute;
  animation: rotateStar 12.5s linear infinite;
}
#end-overview .end-visitors {
  z-index: 3;
  position: relative;
  margin-top: 3.25rem;
  padding-top: 0.1rem;
}
#end-overview .end-visitors span {
  top: -3.75rem;
  rotate: -8deg;
  font-size: 3.6rem;
  font-weight: 700;
  position: absolute;
  font-family: "Right Grotesk";
}
#end-overview .end-visitors .numbers {
  display: flex;
  height: 6.4rem;
  margin-top: 2rem;
  justify-content: center;
  animation: numberShake 5s linear infinite;
}
#end-overview .end-visitors .numbers img {
  rotate: 6deg;
  margin-left: -1%;
}
#end-overview #numberOfVisitorsTotal {
  display: none;
}
#end-overview .end-information {
  display: flex;
  margin-top: 13rem;
  flex-direction: column;
}
#end-overview .end-information__item {
  max-width: 18rem;
}
#end-overview .end-information__item:first-child span:nth-child(2) {
  color: #2C68F6;
}
#end-overview .end-information__item span {
  display: block;
}
#end-overview .end-information__item span:nth-child(2) {
  font-size: 2rem;
  margin-top: 0.25rem;
}
#end-overview .end-information__item:not(:last-child) {
  margin-bottom: 2rem;
}
#end-overview #end-country-illustration {
  top: 42.5rem;
  right: -1rem;
  height: 21rem;
  position: absolute;
  animation: dutch 2s;
}
#end-overview .end-bottom {
  bottom: 3rem;
  display: flex;
  position: absolute;
  align-items: baseline;
  width: calc(100% - 6rem);
  justify-content: space-between;
}
#end-overview .end-bottom .end-logo {
  display: block;
  height: 3.25rem;
}
#end-overview .end-bottom .icons {
  display: flex;
}
#end-overview .end-bottom .icons .icon {
  height: 2.6rem;
  display: block;
  fill: #000000;
}
#end-overview .end-bottom .icons .icon:not(:last-child) {
  font-weight: 700;
  margin-right: 1.75rem;
}

.event {
  display: flex;
  padding: 2rem 3rem;
  border-radius: 1rem;
  flex-direction: column;
  width: calc(50% - 1.5rem);
  background-color: #BDE3FC;
}
.event:hover {
  color: #ffffff;
  background-color: #2C68F6;
}
.event:hover .event__amount {
  color: #ffffff;
}
.events {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;
}
.events .event {
  margin-bottom: 1.5rem;
}
.events .event:not(:last-child) {
  margin-right: 1.5rem;
}
.event__amount {
  color: #666;
  margin-top: 0.5rem;
}

.screen {
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
  width: calc(50% - 2rem);
  background-color: #BDE3FC;
}
.screens {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-right: -2rem;
  margin-bottom: -2rem;
}
.screen__preview {
  width: 12rem;
}
.screen__info {
  padding: 2.5rem;
}
.screen__info .h3 {
  margin-bottom: 0.75rem;
}
.screen__info p {
  color: #666;
}
.screen:not(:last-child) {
  margin-right: 2rem;
}

.logo {
  left: 50%;
  z-index: 3;
  top: 3.5rem;
  width: 16rem;
  margin: 0 auto;
  display: block;
  position: absolute;
  translate: -50% 0;
  pointer-events: none;
}

#ticketIllustration, #ticketStack {
  position: absolute;
  transform: translateX(-50%);
  animation: hover 5s infinite;
}

#ticketIllustration {
  left: 62.5%;
  bottom: 2rem;
  width: 50rem;
}

#ticketStack {
  left: 50%;
  width: 28rem;
  bottom: 10rem;
}
