@import "defaults/typography"
@import "defaults/variables"
@import "defaults/base"
@import "defaults/utilities"
@import "defaults/animations"

@import "components/slide"
@import "components/button"

@import "pages/startSlide"
@import "pages/originSlide"
@import "pages/findTheTruthSlide"
@import "pages/animatedLinesSlide"

.logo
    left: 50%
    z-index: 3
    top: 3.5rem
    width: 16rem
    margin: 0 auto
    display: block
    position: absolute
    translate: -50% 0
    pointer-events: none

.tickets
    left: 56%
    bottom: 7rem
    width: 38rem
    translate: -50% 0
    position: absolute

    &--stack
        left: 50%
        width: 26rem
        bottom: 10rem