#average-age-title
    padding: 2rem
    margin: 5rem -3rem
    background-color: $color-white

    span
        font-size: 4.6rem

.visitor-card
    left: 50%
    z-index: 1
    bottom: -10rem
    width: 13.5rem
    translate: -50% 0
    position: absolute
    transition: bottom 1s ease-in

    &--ghost
        z-index: 0
        width: 11rem
        opacity: 0.5
        bottom: -6rem

    &s
        &--show
            .visitor-card
                bottom: 8rem

            .visitor-card--ghost
                &:first-of-type
                    left: 27.5%
                    bottom: 6rem

                &:last-of-type
                    left: 70%
                    bottom: 7rem