// @import url("https://use.typekit.net/xit4rvk.css")

@font-face
	font-weight: 800
	font-family: "Right Grotesk"
	src: url("../font/right-grotesk/PPRightGrotesk-WideBlack.otf") format('opentype')

@font-face
	font-weight: 700
	font-family: "Right Grotesk"
	src: url("../font/right-grotesk/PPRightGrotesk-CompactDark.otf") format('opentype')

@font-face
	font-weight: 200
	font-family: "Right Grotesk"
	src: url("../font/right-grotesk/PPRightGrotesk-NarrowLight.otf") format('opentype')

@font-face
	font-weight: 300
	font-family: "Right Grotesk"
	src: url("../font/right-grotesk/PPRightGrotesk-SpatialFine.otf") format('opentype')

@font-face
	font-weight: 400
	font-family: "Right Grotesk"
	src: url("../font/right-grotesk/PPRightGrotesk-Medium.otf") format('opentype')

@font-face
	font-weight: 300
	font-family: "Suisse"
	src: url("../font/suisse/SuisseIntl-Regular.ttf") format('opentype')

@font-face
	font-weight: 400
	font-family: "Suisse"
	src: url("../font/suisse/SuisseIntl-Medium.ttf") format('opentype')

h1, .h1, h2, .h2, h3, .h3
	font-family: "Right Grotesk"

h1, .h1
	font-size: 3rem
	font-weight: 800
	margin-bottom: 2rem

h2, .h2
	font-size: 2.2rem
	font-weight: 700

h3, .h3
	font-size: 1.8rem

.grotesk
	&--black
		font-weight: 800

	&--dark
		font-weight: 700

	&--light
		font-weight: 200

	&--fine
		font-weight: 300

	&--medium
		font-weight: 400

.title
	display: flex
	flex-wrap: wrap
	line-height: 1.3
	font-size: 3.8rem
	position: relative
	text-align: center
	margin-right: -1rem
	align-items: baseline
	justify-content: center
	transition: opacity .5s ease-in-out
	font-family: "Right Grotesk", sans-serif

	&--hide
		opacity: 0

	&--no-flex
		display: inherit

	&--col
		align-items: center
		flex-direction: column

	&--left
		justify-content: flex-start

	&--strip
		padding: 0 !important

	span
		padding-right: 1rem

		&.full
			width: 100%
			margin-bottom: -.75rem

		&.left
			text-align: left

		&.highlight
			font-size: 6rem

ul
	list-style: none

a
	color: inherit
	text-decoration: none